{% extends "base.html" %}

{% block content %}
<h2>{{ view_name.replace('_', ' ').title() }} Report</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            {% for key in data[0].keys() %}
                <th>{{ key.replace('_', ' ').title() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
